<div class="column-layout group">
  <igx-navbar class="navbar">
    <igx-navbar-action>
      <button igxRipple igxIconButton="flat" class="icon-button">
        <igx-icon>
          menu
        </igx-icon>
      </button>
    </igx-navbar-action>
    <igx-navbar-title class="navbar-content">
      <h6 class="h6">
        My Application
      </h6>
      <button igxButton="contained" type="button" igxRipple [routerLink]="['/coworking-space-map-view']" class="button">
        <igx-icon>
          search
        </igx-icon>
        <span>Search</span>
      </button>
      <button igxButton="contained" type="button" igxRipple class="button">
        <igx-icon>
          add
        </igx-icon>
        <span>Add</span>
      </button>
    </igx-navbar-title>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon>
        notifications
      </igx-icon>
    </button>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon>
        settings
      </igx-icon>
    </button>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon>
        account_circle
      </igx-icon>
    </button>
  </igx-navbar>
  <div class="column-layout group">
    <p class="text">
      Welcome to my application
    </p>
  </div>
  <img src="https://picsum.photos/2000/1000" class="image" />
  <div class="column-layout group_1">
    <h2 class="content">
      Our Features
    </h2>
    <div class="row-layout group">
      <div class="column-layout group">
        <igx-icon class="icon">
          map
        </igx-icon>
        <h3 class="content">
          Coworking Space Discovery
        </h3>
        <p class="content">
          Find the perfect space to work, collaborate, and grow
        </p>
      </div>
      <div class="column-layout group">
        <igx-icon class="icon">
          restaurant
        </igx-icon>
        <h3 class="content">
          Restaurant Recommendations
        </h3>
        <p class="content">
          Discover the best food and drinks near your coworking space
        </p>
      </div>
      <div class="column-layout group">
        <igx-icon class="icon">
          person
        </igx-icon>
        <h3 class="content">
          User Profiles
        </h3>
        <p class="content">
          Connect with like-minded individuals and build your network
        </p>
      </div>
    </div>
  </div>
  <div class="column-layout group_2">
    <h2 class="h2">
      Join Our Community Today!
    </h2>
    <button igxButton="contained" type="button" igxRipple class="button_1">
      Sign Up
    </button>
  </div>
</div>
