:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: relative;
  padding: 20px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.group_1 {

  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: relative;
  padding: 20px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group_2 {
  background-color: var(--ig-primary-500);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: relative;
  padding: 20px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar {
  height: max-content;
  min-width: min-content;
}
.icon-button {
  --ig-size: var(--ig-size-medium);
}
.navbar-content {
  gap: 1rem;
}
.h6 {
  margin: 0;
}
.text {
  height: max-content;
  min-width: min-content;
}
.image {
  object-fit: cover;
  border-radius: 0px;
  width: 1799px;
  height: 296px;
  min-width: 0;
  min-height: 0;
  max-width: 1799px;
  max-height: 296px;
  flex-shrink: 0;
}
.content {
  color: var(--ig-primary-500);
  height: max-content;
  min-width: min-content;
}
.icon {
  --size: 48px;
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: var(--ig-primary-500);
}
.h2 {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.button_1 {
  --igx-button-foreground: var(--ig-primary-500);
  --ig-size: var(--ig-size-large);
  height: max-content;
}
