<div class="column-layout group">
  <div class="column-layout group_1">
    <igx-input-group type="box" class="input">
      <input type="Search" placeholder="Search coworking spaces" igxInput />
    </igx-input-group>
    <img src="/assets/Antique%20Nautical%20Map.png" class="image" />
  </div>
  <div class="column-layout group_1"></div>
  <div class="column-layout group_1">
    <igx-list class="list">
      <igx-list-item>
        <span igxListLineTitle>Space 1</span>
        <span igxListLineSubTitle>123 Main St</span>
        <span igxListLine>
          <p class="text">
            Pricing: 500/month, Amenities: 24/7 access, High-speed internet, Ratings: 4.5
          </p>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListLineTitle>Space 2</span>
        <span igxListLineSubTitle>456 Elm St</span>
        <span igxListLine>
          <p class="text">
            Pricing: 300/month, Amenities: 24/7 access, High-speed internet, Gym, Ratings: 4.2
          </p>
        </span>
      </igx-list-item>
    </igx-list>
  </div>
</div>
